ul {
    list-style: none;
    display: inline-flex;
    padding-top: 0.5rem;
    justify-content: space-around;
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-weight: bold;
    background-color: blueviolet;
    width: 100%;
    
  }
 ul a {text-decoration: none; 
  color: yellow;
font-weight: bolder;
font-size: 26px;
}

  .logoNav {background-color: blueviolet;
    max-height: 120px;
  }

  .Navigation {display: flex;
    width: 100%;
    

;}

